<div class="container">
  <div class="page-header">
    <div align="center" class="card" style="position:fixed;top:50%;left:50%;width:30em;height:30em;margin-top:-15em;margin-left:-15em;border:1px solid #ccc;">
      <div class="card-body">
        <h1 align="center" style= color:DodgerBlue class="card-title">TEConstruye</h1>
        <h6 class="card-subtitle mb-2 text-muted">Bienvenido {{logintype}}</h6>
        <p class="card-text">La mejor plataforma web para gestionar proyectos de construcción</p>
        <b><label for="exampleDropdownFormEmail1">Correo electrónico</label></b>
        <input type="email" class="form-control" id="email_input" placeholder="email@teconstruye.com">
        <b><label for="exampleDropdownFormPassword1">Contraseña</label></b>
        <input type="password" class="form-control" id="password_input" placeholder="password">
      </br>
        <button ng-click="checkLogin()" class="btn btn-primary">Ingresar</button>
      </br>
      </br>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button ng-click="setLoginType('ingeniero')" type="button" class="btn btn-secondary">Ingeniero</button>
          <button ng-click="setLoginType('administrador')" type="button" class="btn btn-secondary">Administrador</button>
        </div>
      </div>
    </div>
  </div>
</div>
