<div class="card">
        <!--Modal for adding a material to a stage-->
        <div>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#adding_material_modal" style="margin-left: 20px; margin-top: 20px;">Añadir</button>
        </div>
        <div class="modal fade" id="adding_material_modal" tabindex="-1" role="dialog" aria-labelledby="adding_material_modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="adding_material_modal_label">Añadir un material</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div data-ng-repeat = "(key,value) in material_template" class="input-group-prepend" style = "margin: 5px;">
                            <span class="input-group-text badge-dark">{{translate[key]}}</span>
                            <input type="text" class="form-control" ng-model="material_template[key]" aria-describedby="basic-addon3">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="addMaterial()" type="button" class="btn btn-warning">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Table for viewing material data-->
        <div class="card-body">
            <table class="table table-bordered table-striped" style="text-align: center">
                <thead style="text-align: center" class="thead-dark">
                    <tr>
                        <th data-ng-repeat = "(key,value) in material_template" scope="col">{{translate[key]}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat = "material in material_list | filter: search">
                        <td data-ng-repeat = "(key,value) in material">{{value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>