<div class="card">
        <div class="btn-group" role="group" style="margin-bottom: 10px; margin-right: 10px;">   
            <!--Modal for adding an client-->  
            <div>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add_client_modal" style="margin-left: 20px; margin-top: 20px;">Añadir</button>
            </div>
            <div class="modal fade" id="add_client_modal" tabindex="-1" role="dialog" aria-labelledby="add_client_modal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add_client_label">Añadir client</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div data-ng-repeat = "(key,value) in client_template" class="input-group-prepend" style = "margin: 5px;">
                                <span class="input-group-text badge-dark">{{key}}</span>
                                <input type="text" class="form-control" ng-model="client_template[key]" aria-describedby="basic-addon3">
                            </div>
                            <div class="modal-footer">
                                <button ng-click="addClient()" type="button" class="btn btn-primary">Insertar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Table for viewing employee data-->
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead style="text-align: center" class="thead-dark">
                    <tr>
                        <th data-ng-repeat = "(key,value) in client_template" scope="col">{{key}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat = "client in client_list | filter: search">
                        <td data-ng-repeat = "(key,value) in client">{{value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>